@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Noto+Color+Emoji&display=swap')
layer(base);

@import 'tailwindcss';

@config '../tailwind.config.ts';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility error {
  @apply text-destructive;
}

@utility input-valid {
  @apply border-success! focus:ring-success!;
}

@utility input-invalid {
  @apply border-error! focus:border-error! focus:ring-error!;
}

@utility card {
  @apply rounded-lg bg-muted-background p-lg;
}

@utility combobox {
  & .input {
    @apply flex h-form w-full items-center justify-between rounded-form border border-muted-foreground bg-bg text-white data-active:border-white;
  }
}

@utility combobox-trigger {
  @apply absolute right-0 top-1/2 z-30 flex size-form -translate-y-1/2 items-center justify-center;
}

@utility combobox-item {
  @apply flex h-form cursor-pointer items-center justify-between rounded-form pl-sm hover:bg-muted-foreground! data-disabled:cursor-default! data-disabled:bg-transparent! data-highlighted:bg-muted-foreground data-selected:font-bold data-disabled:text-muted-foreground data-selected:text-white;
}

@utility select-trigger {
  @apply flex h-form w-full items-center justify-between rounded-form border border-muted-foreground px-md text-left text-white data-[state=open]:border-violet-500;
}

@utility select-content {
  @apply mt-sm w-(--bits-select-anchor-width) rounded-form border border-muted-background bg-muted-background p-xs;
}

@utility select-item {
  @apply flex h-form cursor-pointer items-center justify-between rounded-form pl-sm hover:bg-muted-foreground! data-disabled:cursor-default! data-disabled:bg-transparent! data-selected:font-bold data-disabled:text-muted-foreground;
}

@layer base {
	* {
		@apply scroll-smooth focus-visible:outline-solid focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-shade-400 focus-visible:ring-0 focus-visible:ring-offset-0;
	}

	html {
		@apply h-full;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply font-bold;
	}

	h1 {
		@apply text-h1;
	}

	h2 {
		@apply text-h2;
	}

	h3 {
		@apply text-h3;
	}

	h4 {
		@apply text-h4;
	}

	h5 {
		@apply text-h5;
	}

	h6 {
		@apply text-h6;
	}

	a {
		@apply text-white transition-colors hover:text-violet-500;
	}

	body {
		@apply h-full bg-bg text-black dark:bg-bg dark:text-white;
	}

	::selection {
		@apply text-black dark:bg-white;
	}

	.debug {
		@apply border border-red-500;
	}

	.debug-green {
		@apply border border-green-500;
	}

	/* input[type='text'], */
	input[type='email'],
	input[type='password'] {
		@apply h-form w-full rounded-sm border border-muted-foreground bg-bg px-3 py-2 focus:border-violet-500 focus:outline-hidden focus:ring-violet-500;
	}
	.input {
		@apply h-form w-full rounded-sm border border-muted-foreground bg-bg px-3 py-2 focus:border-violet-500 focus:outline-hidden focus:ring-violet-500;
	}

	media-tooltip {
		--media-font-weight: var(--font-weight-bold);
		--media-font-size: var(--text-sm);
		--media-font-family: var(--font-sans);
		--media-tooltip-background-color: red;
	}
}
